@font-face {
  font-family: 'custom';
  src: url('/font/blazing-hustle-italic.otf') format('opentype'),
       url('/font/blazing-hustle.otf') format('opentype');
  font-weight: normal;
  font-style: italic; /* Change to italic if it’s the italic version */
}

.slider p {
  font-family: 'custom', sans-serif;
}

.landing{
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;

    img{
      object-fit: cover;
    }
    
    .sliderContainer{
      position: absolute;
      top: calc(100vh - 350px);
    }
    
    .slider{
      position: relative;
      white-space: nowrap;
    }
    
    .slider p{
      position: relative;
      margin: 30px;
      color: white;
      font-size: 230px;
      font-weight: 800;
      padding-right: 50px;
    }
    
    .slider p:nth-of-type(2){
      position: absolute;
      left: 100%;
      top: 0;
    }
  
    .description{
      position: absolute;
      top: 35%;
      left: 65%;
      color: white;
      font-size: 24px;
      font-weight: 300;
      p{
        margin: 0px;
        margin-bottom: 10px;
        background-color: black;
        color: white;
        padding: 2vw;
        border-radius: 100px;
      }
      svg{
        transform: scale(2);
        margin-bottom: 100px;
      }
    }

    @media (max-width: 1200px) {
      .description p{
        font-size: small;
        padding: 25px;
        width: 50%;
      }
  }

  @media (max-width: 768px) {
      
  }

    @media (max-width: 480px) {
      
    }
  }
  
